// Navigation code here

nav {
  .flex-center;
  flex-direction: column;
  border-bottom: 1px solid @highlight-color;
  background-color: @highlight-bg;
  #top-links {
    .flex-center;
    margin-top: 25px;


    a {
      text-decoration: none;
      color: inherit;
      margin-left: 16px;
      margin-right: 16px;
      font-size: 1.6rem;
      &:first-of-type {
        margin-left: 20px;
      }
      &:last-of-type {
        margin-right: 20px;
      }

    }
  }
}

